.container
  .row
    .well.form-container.col-sm-8.col-sm-offset-2
      %h3 Add a Business
      %hr
      %form
        .row
          .form-group.col-sm-8
            %label(for="name") Name
            %input(type="text" class="form-control" id="name" placeholder="ex: Chipotle")
        .row
          .form-group.col-sm-8
            %label(for="address") Address
            %input(type="text" class="form-control" id="address" placeholder="ex: 310W 36th Sreet, New York, NY 10001")
        .row
          .form-group.col-sm-8
            %label(for="area") Area
            %input(type="text" class="form-control" id="area" placeholder="ex: Midtown")
        .row
          .form-group.col-sm-8
            %label(for="phone") Phone
            %input(type="tel" class="form-control" id="phone" placeholder="ex: 111-222-3333")
        .form-group
          %button(type="submit" class="btn btn-primary") Submit
